<div class="mainContainer">

  <div class="userInfo">
    {{ userDetails?.username }}
  </div>

  <div class="mainGraph">
    <div>
    </div>
  </div>

  <div class="goalsOverview">
    <div> @if (hasGoals) {
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Deadline</th>
          <th>Progress</th>
        </tr>
        </thead>
        <tbody>
          @for (goal of goalsDetails; track goal.name) {
            <tr>
              <td>{{ goal.name }}</td>
              <td>{{ goal.deadline }}</td>
              <td>{{ goal.progress }}%</td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p>You don't have any active goals yet</p>
    }


    </div>


    <br/><br/>

    <button (click)="createGoalRedirect()" mat-button color="primary">Create a new goal</button>
  </div>

</div>
<button (click)="logout()" matButton="tonal" type="submit" color="red">Logout</button>
