.mainContainer {
  display: flex;
  flex-direction: row;
padding: 1em
}
.mainContainer div {
  margin: 0.1em;
}

.userInfo{
  background-color: aqua;
  width: 24vw;
}
.mainGraph{
  background-color: #e2fbfb;
  width: 50vw;
}
.goalsOverview{
  width: 24vw;
}
.goalsOverview table {
  width: 100%;
  border-collapse: collapse;
}
.goalsOverview table tr{
  background-color: #f5f5f5;
}
.goalsOverview table tr th{
  padding: 8px; border: 1px solid #ccc;
}

.goalsOverview table tbody tr td{
  padding: 8px; border: 1px solid #ccc;
  background-color: #ffffff;
}
